.banner{
   height: 70vh;
background-image:url("https://cdn.mwallpapers.com/photos/celebrities/tvshows/money-heist-wallpaper-hd-the-galleries-of-hd-wallpaper-android-iphone-hd-wallpaper-background-downloadhd-wallpapers-desktop-background-android-iphone-1080p-4k-t8nz2.jpg");
background-repeat: no-repeat;
background-size: cover;
}
.bgdark{
    height: 70vh;
    background: linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.9));
    
}